*{
        margin:0;
}
body{
    background-color:rgb(19, 19, 109);
    margin:0;
    height:100vh;

}
#container{
    width:600px;
    display:grid;
    margin:40px auto;
    grid-template-rows:200px 200px 200px;
    grid-template-columns:200px 200px 200px;
    border-radius:10px;
    border:8px solid rgb(30, 111, 240);
}
.boxes{
    background-color:rgb(19, 19, 109);
    justify-content:center;
    align-items:center;
    border:8px solid rgb(30, 111, 240);
    font-size:120px;
    color:rgb(30, 111, 240);
    
}
#heading{
    margin-top:20px;
    display:flex;
    justify-content:center;
    font-family:funky;
    color:white;
}